@keyframes show-car {
  0% {
    left: -2000px;    
  } 
  1% {
    opacity: 0;
    left: 100vw;    
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes hide-car {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: -100vw;
  }
}

@keyframes hide-right {
  from {
    opacity: 1;
    transform: translateX(0px);
  } to {
    opacity: 0;
    transform: translateX(50px);
  }
}
@keyframes appear-from-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  } to {
    opacity: 1;
    transform: translateX(0px);
  }
}