body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

header, footer {
  height: 150px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
}

header {
  top: 0;
}
footer {
  bottom: 0;
}

.header-inner, .meet-wrapper, .main-wrapper, .footer-inner {
  width: 80%;
  min-width: 1280px;
  margin: 0 auto; 
}

.header-inner {
  padding-top: 12px;
}

.header-inner nav, .header-inner ul {
  width: 100%;
  height: 121px;
}

header a {
  position: relative;
}

header #logo {
  margin: 0 8%;
}

.header-meet, section {
  width: 100%;
  position: relative;
}

.header-meet {
  height: 100vh;
}

section {
  height: 140vh;
}

.header-meet p {
  max-width: 709px;
  margin-bottom: 30px;
}

.header-meet p > span {
  width: 132px;
  height: 3px;
  display: inline-block;
  margin: 9px 15px;
}

.carousel, .video {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


.carousel > div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 2000px;  
}
.carousel div.car-active {
  left: 0;
  animation: show-car 1s ease-in-out;
}
.carousel div.car-inactive {
  left: -2000px;
  animation: hide-car 1s ease-in-out;
}

.event {
  width: 22%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 427px;
}
.event, .event * {
  transition: .4s ease-in-out;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.event:hover {
  border: 1px solid #fcfb03;
  transform: scale(1.15);
}

.event img {
  max-width: 100%;
  max-height: 393px;
}
.event .event-description {
  min-height: 107px;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  position: relative;
}
.event:hover .event-description {
  min-height: 207px;
  transform: translateY(-100px);
}
.event-description > p {
  margin-bottom: 20px;
}
.events h2 {
  margin-bottom: 35px;
}
.event .event-more {
  height: 0px;
  min-width: 100%;  
  position: relative;
}
.event:hover .event-more {
  border-top: 1px solid #fcfb03;
}
.event .event-more p {
  font-size: 35px;
  line-height: 80px;
  clip-path: polygon(0 100%, 0 0, 0 0, 0 0);
  max-width: max-content;
  margin: 0 auto;
  
}
.event:hover .event-more p {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);   
  
}

.event-more span {
  width: 20px;
  display: block;
  position: absolute;
  top: 27px;
  right: 80px;
  opacity: 0;
}
.event-more:hover p {
  transform: translateX(-25px);
}
.event-more:hover span:nth-child(3) {
  animation: appear-from-left .3s ease-in-out;
  opacity: 1;
}
.event-more:hover span:nth-child(2) {
  animation: hide-right .3s ease-in-out;
  opacity: 0;
}

.restaurant-text {
  width: 640px;
  min-height: 50%;
  padding: 30px 60px 30px 40px;
  transform: translateX(-40px);
  position: relative;
  z-index: 1;
}

.restaurant-text p {
  margin: 15px 0 25px;
}

.restaurant-image {
  position: absolute;
  height: 100%;
  top: 0;
  left: 30%;
  z-index: 0;
}
.restaurant-image img {
  max-height: 100%;
}

.gallery .gallery-container {
  width: 100%;
  max-height: 60vh;
  min-height: 600px;
  position: relative;
}
  
.gallery h2 {
  max-height: max-content;
  position: relative;
  z-index: 1;
  line-height: .8;
  transform: translateY(50%);
}

.gallery div.gallery-item {
  height: 80%;
  position: absolute;
  transition: .5s cubic-bezier(0.68, -0.35, 0.265, 1.35);
  cursor: zoom-in;
}
.gallery div > img {
  max-height: 100%;
  opacity: .2;
  transition: .6s ease-in-out;
}
.gallery div.gallery-active {
  transform: translateX(0);
  opacity: 1;
}
.gallery div.gallery-active img {
  opacity: 1;
}
.gallery div.gallery-active:hover {
  transform: scale(1.3);
}
.gallery div.gallery-prev {
  transform: translateX(calc(100% + 65px));
  opacity: .4;
}
.gallery div.gallery-next {
  transform: translateX(calc(-100% - 65px));
  opacity: .4;
}


footer a {
  margin-left: 25px;
  transition: .5s ease-in-out;
  position: relative;
}
footer a:hover {
  margin-left: 0px;
  transform: translateY(-25px);
}





.item-mobile {
  display: none;
}


#arrow {
  position: absolute;
  bottom: 300px;
}