body::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
}

header a::before, header a::after {
  position: absolute;
  left: calc(50% - 23.5px);
  background-image: url('../../img/menu-hover.png');
  width: 57px;
  content: '';
  height: 20px;
  left: calc(50% - 23.5px);
  transition: .5s ease-in-out;
  background-repeat: no-repeat;
}

header a::before {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  background-position-y: 0px;
  top: -14px;
}

header a::after {
  background-position-y: -32px;
  bottom: -12px;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

header a:hover::after, header a:hover::before {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

header #logo::after, #reservate::after {
  content: '';
}

.event-description::after {
  content: url(../../img/event-sticker.png);
  position: absolute;
  top: -50.25px;
  left: calc(50% - 55.25px);
}

.video::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to bottom, transparent, #121212bb 60%, #090909);
  bottom: 0;
  z-index: 2;
}
main::before {
  top: 0;
  position: absolute;
  content: '';
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to top, transparent, #121212bb 70%, #090909 85%,  #090909);
  z-index: -2;
}

footer a::before {
  content: url('../../img/location-arrow.png');
  transition: .5s ease-in-out;
  position: absolute;
  width: 20px;
  height: 20px;
  left: -25px;
}
footer a:hover::before {
  transform: scale(0);
  opacity: 0;
  left: 0px;
}
footer a:after {
  content: '+380551234567';
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 0px;
  width: 100%;
  transition: .5s ease-in-out;
  height: 0px;
}
footer a:hover::after {
  font-size: 20px;
  height: 20px;
}
